body {
    color: RGB(209, 209, 209);
    font-family: "Latino Type", Sans-serif;
    background-color: #333;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

i {
    font-size: 3rem;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    color: RGB(209, 209, 209);
    text-decoration: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - (100vw - 100%)); /*Para que deje espacio a la derecha con el scrollbar*/
    height: 10vh;
    background-color: black;
    z-index: 3;
}

.navbar div {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    transition: 1s;
    height: 10vh;
    cursor: pointer;
}

.desktopMenu {
    display: flex;
}

.desktopMenu li {
    display: flex;
    align-items: center;
    font-size: 3vh;
    padding: 0 1vw;
}

.desktopMenu li:last-child { /*Menú hamburguesa*/
    display: none;
}

.container {
    margin-top: 10vh; /* Lo que mide justamente el navbar */
}

.slider {
    background: url(../images/fondo-slider-1.jpg) no-repeat bottom left;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 90vh;
}

.slider img {
    height: 50vh;
    width: 30vw;
    object-fit: cover;
}

.parallax {
    display: flex;
    align-items: flex-start;
    width: 60vw;
}

.hidden {
    display: none;
}

.sizeAnimation {
    animation-name: sizeAnimation;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
}

@keyframes sizeAnimation {
    from {
        height: 50vh;
        width: 30vw;
    }

    to {
        height: 55vh;
        width: 35vw;
    }
}

.parallax .papas-fritas {
    margin-left: -36vw;
    margin-top: 25vh;
}

.parallax .ensalada {
    margin-left: -20vw;
    margin-top: 40vh;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(5px);
    background: rgba(24, 24, 24, 0.35);
    text-align: center;
    width: 25vw;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.description-container h3 {
    color: RGB(232, 195, 44);
    margin: 10px;
    font-size: 1.5em;
}

.description-container p {
    margin: 10px;
    font-size: 1.5em;
}

.mostrar-mas {
    color: RGB(232, 195, 44);
    background: rgba(24, 24, 24, 0.35);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid transparent;
    transition: 1s;
    font-size: 1.5em;
}

.mostrar-mas:hover {
    border: 1px solid RGB(209, 209, 209);
    transition: 1s;
}

.slidein {
    animation-duration: 3s;
    animation-name: slidein;
}

.slideout {
    animation-duration: 3s;
    animation-name: slideout;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
  
    to {
        margin-left: 0%;
    }
}

@keyframes slideout {
    from {
        margin-left: 0%;
    }
  
    to {
        margin-left: -150%;
    }
}

.scroll {
    height: 90vh; /* 100 - 10 (10 es lo que mide el navbar) */      
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    background: url(../images/fondo-scroll.jpg) no-repeat bottom left;
    background-size: cover;
}

.food-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* 100 - 10 (10 es lo que mide el navbar) */      
    align-items: center;
    justify-content: space-between;
}

.food-container .hamburguesa {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    z-index: 2;
}

.food-container .plato {
    height: 30vh;
    width: 30vw;
    object-fit: cover;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: RGB(38, 38, 38);
}

.filters-container {
    display: flex;
}

.filters-container a {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
}

.filters-container a:hover {
    border: 1px solid RGB(209, 209, 209);
}

.filters-container img {
    height: 10vh;
    width: 5vw;
    object-fit: contain;
}

.active {
    border: 1px solid RGB(209, 209, 209)!important; /*!important porque todos tienen un borde transparente*/
}

.wrapper {
    margin: 20px;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-gap: 10px;
}
  
.box {
    border-radius: 25px;
    overflow: hidden;
}

.product-image {
    background: url(../images/fondo-scroll.jpg) no-repeat bottom left;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hamburguesa-product {
    height: 50vh;
}

.product-description {
    background-color: black;
    padding: 5px;
    font-size: 1.2rem;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.product-description p {
    margin: 0;
}

footer {
    font-size: 2rem;
    padding: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: RGB(36, 36, 36);;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33vw;
}

footer a {
    font-size: 1.4rem;
    background-color: RGB(13, 13, 13);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: 1s;
}

footer a:hover {
    transition: 1s;
    border: 1px solid RGB(209, 209, 209);
}

@media screen and (max-width: 600px) {
    .navbar {
        width: 100vw;
    }
    
    .desktopMenu li {
        display: none;
    }

    .desktopMenu li:last-child { /*Menú hamburguesa*/
        display: flex;
    }

    .filters-container {
        flex-direction: column;
    }

    .wrapper {
        grid-template-columns: 75vw;
    }

    footer {
        flex-direction: column;
        padding: 10px;
    }

    footer div {
        width: 100vw;
    }

    .parallax {
        display: none;
    }

    .description-container {
        width: 75vw;
        left: 50%;
    }

    .food-container .hamburguesa {
        height: 30vh;
        width: 55vw;
    }

    .food-container .plato {
        height: 30vh;
        width: 100vw;
    }

    .filters-container {
        font-size: 1.5rem;
    }

    .filters-container img {
        height: 10vh;
        width: 20vw;
        object-fit: contain;
    }

    .filters-container a {
        display: flex;
        justify-content: space-around;
    }

    .hamburguesa-product {
        height: 30vh;
    }

    .product-image {
        height: 40vh;
    }

    .slidein, .slideout {
        animation: none;
    }

    .mobileMenu {
        background: black;
        font-size: 1.8rem;
        list-style-type: none;
        padding: 15px;
        transform-origin: top center;
    }  
    
    .growDown {
        animation: growDown 300ms;
    }

    .mobileMenu li {
        margin: 15px 0px 15px 0px;
    }

    @keyframes growDown {
        from {
            transform: scaleY(0)
        }
        to {
            transform: scaleY(1)
        }
    }
}