body {
    font-family: "Latino Type", Sans-serif;
    background-color: RGB(79, 79, 79);
    overflow-x: hidden;
    height: 500vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - (100vw - 100%)); /* Para que deje espacio a la derecha con el scrollbar */
    height: 10vh;
    background-color: #333;
    z-index: 3;
}

.navbar img {
    transition: 1s;
    height: 10vh;
}

.navbar ul {
    padding: 0;
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    display: flex;
    align-items: center;
    font-size: 3vh;
    padding: 0 1vw;
}

.navbar ul li a {
    color: RGB(209, 209, 209);
    text-decoration: none;
    transition: 1s;
}

.navbar ul li a:hover {
    color: RGB(230, 203, 0);
    transition: 1s;
}

.container {
    margin-top: 10vh; /* Lo que mide justamente el navbar */
    height: 100vh;
}

.slider {
    height: 90vh; /* 100 - 10 (10 es lo que mide el navbar) */             /* optional, center the image */
    background: url(../images/fondo-slider.jpg);
    background-size: contain;
    display: flex;
    align-items: center;
}

.slider img {
    height: 50vh;
    width: 30vw;
    object-fit: cover;
}

.parallax {
    display: flex;
    align-items: flex-start;
    width: 60vw;
}

.hidden {
    display: none;
}

.sizeAnimation {
    animation-name: sizeAnimation;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
}

@keyframes sizeAnimation {
    from {
        height: 50vh;
        width: 30vw;
    }

    to {
        height: 55vh;
        width: 35vw;
    }
}

.parallax .papas-fritas {
    margin-left: -36vw;
    margin-top: 25vh;
}

.parallax .ensalada {
    margin-left: -20vw;
    margin-top: 40vh;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    border-radius: 16px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    width: 25vw;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.description-container h3 {
    color: RGB(232, 195, 44);
    margin: 10px;
}

.description-container p {
    color: RGB(209, 209, 209);
    margin: 10px;
}

.description-container a {
    text-decoration: none;
    color: RGB(232, 195, 44);
    background: rgba(24, 24, 24, 0.35);
    padding: 10px;
    border-radius: 16px;
    margin: 10px;
    border: 1px solid transparent;
    transition: 1s;
}

.description-container a:hover {
    border: 1px solid white;
    transition: 1s;
}

.slidein {
    animation-duration: 3s;
    animation-name: slidein;
}

.slideout {
    animation-duration: 3s;
    animation-name: slideout;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
  
    to {
        margin-left: 0%;
    }
}

@keyframes slideout {
    from {
        margin-left: 0%;
    }
  
    to {
        margin-left: -150%;
    }
}

.scroll {
    height: 90vh; /* 100 - 10 (10 es lo que mide el navbar) */      
    display: flex;
    justify-content: center; 
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    background: url(../images/fondo-scroll.jpg) no-repeat bottom left;
    background-size: cover;
}

.food-container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* 100 - 10 (10 es lo que mide el navbar) */      
    align-items: center;
    justify-content: space-between;
}

.food-container .hamburguesa {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    z-index: 2;
    /* margin-top: -55vh; */
}

.food-container .plato {
    height: 30vh;
    width: 30vw;
    object-fit: cover;
}

/* .food-container .manos {
    height: 40vh;
    width: 30vw;
    object-fit: cover;
    margin-top: -5vh;
} */

/* .rotatingAnimation {
    animation-name: rotating;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */
